.logotext{
    margin-left: -680px;
    margin-top: -2px;
  
  width: 80px;
  height: 70px;
  align-content: last baseline;
  
}
.adminlogo{
    margin-left: -34px;
    margin-top: -2px;
  display: flex;
  width: 60px;
  height: 60px;
  align-content: last baseline;
  

}