.midall{
  gap: 0px;
  margin: 0px 0px 0px 0px;
}

.alignflexbox{
   align-items: center;
  

}
.homefooterbottom{
   -webkit-box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.47);
   box-shadow: 2px 4px 10px 1px rgb(201, 201, 201);
   padding: 1px;
   margin:-10px 25px 5px 25px;
   display: flex;
 

}
.usermid{
   display: flex;
   margin: -8px 2px 2px 2px;
}

.hd{
   margin-left: 25px;
   font-family: "Protest Strike", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 28px;
   color: rgba(29, 27, 27, 0.641);
   
}