@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

.newsLetterSection
{
     width: 100%;
      height: auto;
     }

.newsLetterSection .box{background: url(../../../imgs/bg.png); width: 100%; height: 370px;margin-bottom: 10px;
     padding: 60px 50px; border-radius: 2dvh; overflow: hidden;}


.wwww{
     display: flex;
     color: gray;
     margin-left: -30;
}






.recentlybodyproduct{
    padding-top: 15px; 
    margin: 0px 0px 10px 0px;
    font-family: Lato, sans-serif;
     
      height: auto;
      display: flex;
      justify-content: center;
      // align-items: center;   
}

.recentlydescription {
     font-size: 14px;
     letter-spacing: 1px;
     color: #5f0909;
     text-transform: capitalize;
     margin-bottom: 1rem;
     
   }
   .recentlyquantity{
    font-size: 15px;
     letter-spacing: 1px;
     color: #095f2e;
     text-transform: capitalize;
     
   }
   


