.logoseller{
  margin-left: -305px;
  margin-top: -2px;
display: flex;
width: 60px;
height: 60px;
align-content: last baseline;

  
}

.hpiseller{
  margin-left: -20px;
    margin-top: -2px;
  display: flex;
  width: 60px;
  
  max-height: 10;
  

}