.cellWithStatus{
    padding: 5px;
    border-radius: 5px;

    &.Active{
    background-color: rgba(0, 128, 0, 0.183);
    color: green;
}
&.pending{
    background-color: rgba(115, 128, 0, 0.244);
    color:goldenrod;
}
&.Inactive{
    background-color: rgba(128, 0, 0, 0.162);
    color: rgb(237, 0, 0);
}
}
.datagrid{
  display: flex;
  width: 1300px;
}
.imgpro{
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.buttonseller1{
    margin: 2px 1px 2px 2px;
    font-size: 16px;
    height: 30px;
    width: 70px;
    text-align: center;
    background: linear-gradient(to right, #008599 0%, #0066ff 100%);
    color: #fff;
    border-radius: 5px;
    cursor: pointer; 
}
.buttonseller2{
    margin: 2px 1px 2px 2px;
    font-size: 16px;
    height: 30px;
    width: 70px;
    text-align: center;
    background-color: #9971ad;
    color: #fff;
    border-radius: 5px;
    cursor: pointer; 
}
.buttonseller3{
    margin: 2px 1px 2px 2px;
    font-size: 16px;
    height: 30px;
    width: 80px;
    text-align: center;
  background-color: rgb(243, 51, 96);
    color: #fff;
    border-radius: 5px;
    cursor: pointer; 
}
.buttonseller4{
    margin: 2px 1px 2px 2px;
    font-size: 16px;
    height: 30px;
    width: 90px;
    text-align: center;
  background-color: rgb(54, 135, 84);
    color: #fff;
    border-radius: 5px;
    cursor: pointer; 
}


.bottom{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 20px;
    margin: 10px 20px;
   


}

.imgupload{
    border-radius: 10px;
    margin-right: 100px;
}

.top1,.top3{  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    margin: 10px;
    display: flex;


}
.tophead{
    color: rgb(100, 90, 90);
}